@import '../../node_modules/icono/dist/icono.min.css'
@import '../../node_modules/skeleton-css/css/normalize.css'
@import '../../node_modules/skeleton-css/css/skeleton.css'

#main
  padding-top 40px

.compareView
  position fixed

// .filterView
//   position fixed

// Override skeleton font
body
  font-family Roboto

a
  cursor pointer

// Override skeleton input fields
input
  padding 2px 2px 2px 5px
  border none
  border-bottom 1px solid #757575

input:focus
  outline none
  top -20px
  border-bottom 1px solid #c25e2c

// Override skeleton container size
.container
  max-width 80%

.page-container
  width 100%

// Navbar Related CSS
nav
  position fixed
  width 100%
  z-index 9999

nav ul
  list-style-type none
  margin 0
  padding 0
  overflow hidden
  background-color #373a42

nav li
  float left
  margin-bottom 0

nav li
  cursor pointer

nav li span
  display inline-block
  color white
  text-align center
  vertical-align middle
  padding 4px 16px
  font-size 20px
  text-decoration none

nav li a:hover
  background-color #111

.filterPanelNav
  float left

.comparePanelNav
  float right

// Panel Related CSS
.inactivePanel
  display none

.filterPanel
  float left

.comparePanel
  float right

// Table Related CSS
.productTable table
  width 100%

.productTable td input
  margin-bottom 0

.productTable .prevBtn
  float left

.productTable .nextBtn
  float right

.productTable .info
  width 50%
  margin 0 auto
  display inline-block
  text-align center

.icono-comment:hover
  cursor pointer
  color #c25e2c

.compare-a
  text-align center

// Product Card CSS.
.productCard
  border-bottom 2px solid #373a42

.productCard .image img
  display block
  margin auto

.productCard .image i
  cursor pointer

.productCard .image i:hover
  color #c25e2c

.chip
  word-wrap break-word
  display block
  padding 0 5px
  font-size 12px
  border-radius 8px
  color black

.filterListing input
  margin-left 10%

.filterListing div:nth-child(odd)
  background #e3e0d7

.tab
  cursor pointer
  display inline-block
  border 1px solid #373a42
  padding 4px 4px

.tab.active
  background-color #c7d6d9

.tab i
  margin-left 8px
  transform scale(0.6, 0.6)
  width 0
  height 0

.tab i:hover
  color red
  cursor pointer

.tab:hover
  background-color darken(#c7d6d9, 42%)

.currentTab
  border-top 1px solid #373a42

.productImage
  padding 5%
  text-align center
  vertical-align middle

.filterLabel
  background-color #c7d6d9
  cursor pointer
  margin-top 1px

.filterLabel span
  font-weight bold
  margin-left 10px

.filterLabel:hover
  background-color darken(#c7d6d9, 42%)

.filterListing input
  cursor pointer
  margin-right 5px

.filterListing a
  color #373a42

.specsTable ul
  list-style none
  display inline-block
.specsTable li
  width 30%
  display inline-block
  margin-bottom 0
